.main {
    margin: auto;
    background-color: chocolate;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__text {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    cursor: pointer;
}